@model HavaYoluOtomasyonu.Models.Gate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GateNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GateNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terminal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Airport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Airport.AirportId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GateId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
