@model IEnumerable<HavaYoluOtomasyonu.Models.Gate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Terminal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airport)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Terminal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airport.AirportId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GateId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GateId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
