@model IEnumerable<HavaYoluOtomasyonu.Models.Airport>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Yeni Havalimanı Ekle</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AirportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iatacode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeZone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AirportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iatacode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeZone)
            </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AirportId" class="btn btn-outline-primary btn-sm">Düzenle</a> |
                        <a asp-action="Details" asp-route-id="@item.AirportId" class="btn btn-outline-info btn-sm">Detay</a> |
                        <a asp-action="Delete" asp-route-id="@item.AirportId  " class="btn btn-outline-danger btn-sm">Sil</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
